
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #6d28d9;
  --second-color: #6e3ac2;
  --first-color-light: #fdfdfd;
  --white-color: #f7f6fb;

  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  color: var(--first-color);
}